body {
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-size: 60px;
}

button {
  cursor: pointer;
  border-radius: 5px;
  height: 27px;
  font-size: 18px;
}

#start-button {
  background-color: rgba(39, 208, 112, 0.541);
}

#restart-button {
  background-color: rgba(242, 255, 0, 0.375);
}

#gameboard {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 300px;
  justify-content: center;
}

.square {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
}

#controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
}

#message {
  font-size: 50px;
}

input {
  font-size: 20px;
  border-radius: 5px;
}
